// Mixins
@mixin link {
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Screen-sizes
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;
$xxl-screen: 1500px;

// Colors
$background-white: rgba(255, 255, 255, 0.1);
$background-light: rgb(243, 239, 239);
$background-dark: rgb(74, 75, 92);
$background-red: rgb(194, 55, 55);
$font-color-white: rgba(255, 255, 255, 0.8);
$font-color-gray: rgb(126, 129, 139);
$font-color-dark: rgb(35, 31, 32);

html {
  font-size: 12px;

  @media(min-width: $sm-screen) {
    &:root {
      font-size: 13px;
    }
  }

  @media(min-width: $md-screen) {
    &:root {
      font-size: 14px;
    }
  }

  @media(min-width: $lg-screen) {
    &:root {
      font-size: 16px;
    }
  }
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  color: $font-color-dark;
}

// Header
.header {
  font-size: 1rem;
  position: relative;
  min-height: 150px;
  background-color: #fff;

  @media(min-width: $xl-screen) {
    background-color: $background-light;
  }
}

.header__logo-wrapper {
  @media(min-width: $xl-screen) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100vw;
      transform: skewX(16deg);
      background-color: #fff;
    }
  }
}

.header__logo {
  position: relative;
  width: 100%;
  text-align: center;

  a {
    @include link;


    img {
      height: 40px;

      @media(min-width: $sm-screen) {
        height: 60px;
      }

      @media(min-width: $md-screen) {
        height: auto;
      }
    }

    @media(min-width: $md-screen) {
      text-align: start;
    }
  }
}

.header__info {
  display: flex;
  justify-content: center;

  @media(min-width: $md-screen) {
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }

  @media(min-width: $xl-screen) {
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100vw;
      background-color: #fff;
      transform: skewX(16deg);
      transform-origin: 50% 90%;
      z-index: -1;
    }
  }
}

.header__contacts {
  flex-direction: column;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  list-style: none;
  font-size: 0.9rem;
  font-weight: bold;

  @media(min-width: $md-screen) {
    margin: 0;
    margin-bottom: 20px;
    text-align: end;
  }

  @media(min-width: $xl-screen) {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;

    .header__contact {
      margin-right: 30px;
    }
  }
}

.header__contact--phone span,
.header__contact--address span {
  position: relative;
  display: inline;
  padding-left: 1.4rem;

  &::before {
    position: absolute;
    top: -5px;
    left: -5px;
    content: "";
    width: 25px;
    height: 25px;
  }
}

.header__contact--phone span {
  &::before {
    background: url("/img/svg-icons/phone-header.svg") no-repeat 50% 50%;
    background-size: 40%;

    @media(min-width: $lg-screen) {
      background-size: 80%;
    }
  }
}

.header__contact--address span {
  &::before {
    background: url("/img/svg-icons/location2.svg") no-repeat 50% 50%;
    background-size: 40%;

    @media(min-width: $lg-screen) {
      background-size: 80%;
    }
  }
}

.social {
  display: flex;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-color: #fff;

  @include link;

  &:last-of-type {
    margin-right: 0;
  }

  svg {
    width: 60%;

    path {
      fill: $background-dark;
    }
  }
}

.header__social {
  display: flex;
  justify-content: center;
  align-items: center;

  @media(min-width: $md-screen) {
    margin-left: 20px;
  }
}

.header__social a {
  background-color: $background-light;

  svg {
    fill: $background-white;
  }
}

.header__nav {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;

  @media(min-width: $md-screen) {
    justify-content: flex-end;
  }
}

.nav__list {
  @include list;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  @media(min-width: $sm-screen) {
    justify-content: flex-end;
  }
}

.nav__link {
  color: $font-color-dark;

  &:hover {
    color: $background-red;
    text-decoration: none;
  }

  &:active {
    opacity: 0.7;
  }
}


.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
  width: 50px;
  height: 50px;
}

.slider {
  position: relative;
}

.slider__info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  h1 {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

    @media(max-width: $sm-screen) {
      font-size: 1.1rem;
    }

    @media(min-width: $sm-screen) {
      font-size: 1.5rem;
    }

    @media(min-width: $md-screen) {
      font-size: 1.8rem;
    }

    @media(min-width: $lg-screen) {
      font-size: 2rem;
    }

    @media(min-width: $xl-screen) {
      font-size: 2.4rem;
    }
  }
}

.slider__info-button {
  min-width: 70px;
  min-height: 20px;

  @media(min-width: $sm-screen) {
    min-width: 80px;
    min-height: 30px;
  }

  @media(min-width: $md-screen) {
    min-width: 100px;
    min-height: 35px;
  }

  @media(min-width: $lg-screen) {
    min-width: 120px;
    min-height: 40px;
  }

  @media(min-width: $xl-screen) {
    min-width: 150px;
    min-height: 50px;
  }
}

.description {
  font-weight: 600;
  background-color: $background-light;
}

.description__title {
  font-size: 1rem;
  font-weight: bold;

  @media(min-width: $sm-screen) {
    font-size: 1.3rem;
  }
}

.description__text {
  font-size: 0.7rem;
  color: $font-color-gray;

  @media(min-width: $lg-screen) {
    font-size: 0.9rem;
  }
}

.description__list {
  display: flex;
  flex-wrap: wrap;

  .description__title {
    width: 100%;
    margin-top: 30px;
    text-align: center;
  }

  ul {
    @include list;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .description__items {
    padding: 0.8rem;
    border-right: 1px solid $background-red;
    border-left: 1px solid $background-red;

    @media(min-width: $md-screen) {
      font-size: 0.9rem;
    }
  }

  .description__link {
    font-size: 0.8rem;
  }

  @media(min-width: $xl-screen) {
    display: block;
    margin-top: -110px;
    font-size: 0.8rem;

    .description__title {
      position: relative;
      width: auto;
      margin-top: 0;
      padding: 1.7rem;
      padding-left: 3rem;
      font-size: 1.2rem;
      text-align: start;
      border-top-left-radius: 30px;
      border-bottom: 2px solid $background-light;
      background-color: #fff;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        width: 80px;
        height: 100%;
        background: url("/img/svg-icons/arrow-down2.svg") no-repeat 50% 50%;
        background-size: 25%;
        background-color: $background-light;
      }

      p {
        margin: 0;
      }
    }

    ul {
      display: block;
      width: 100%;
      list-style: none;
      padding-left: 0;
      background-color: #fff;
    }

    .description__items {
      padding: 0;
      text-transform: uppercase;
      border: none;
      border-bottom: 2px solid $background-light;

      &:first-of-type {
        a.description__link {
          &::before {
            background-color: $background-red;
          }
        }
      }
    }

    a.description__link {
      position: relative;
      display: block;
      margin-left: 60px;
      padding: 1.7rem;

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $background-light;
        transform: translateY(-50%);
      }
    }
  }
}

a.description__link {
  color: $font-color-dark;

  @include link;
}

.description__video-container {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    content: "";
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: url("/img/svg-icons/play-button.svg") no-repeat 60% 50%;
    background-size: 60%;
    background-color: rgba(255, 255, 255, 0.5);

    @media (min-width: $md-screen) {
      width: 50px;
      height: 50px;
    }
  }

  &:hover {
    &::after {
      transform: scale(1.1);
    }
  }

  &:active {
    &::after {
      transform: scale(0.9);
      opacity: 0.7;
    }
  }
}

.description__video {
  width: 100%;

  &[poster] {
    background: url("/img/impulse120-video.jpg");
    background-size: cover;
  }

  @media(min-width: $xl-screen) {
    max-width: 100%;
    width: 416px;
    height: 385px;
  }
}

.gallery__img {
  width: 100%;
  height: 100%;
}

.gallery__title {
  text-align: center;
}

.red-button {
  font-size: 0.73rem;
  font-weight: 800;
  color: $font-color-white;
  background-color: $background-red;
  border: none;

  @include link;

  @media(max-width: $xl-screen) {
    font-size: 0.6rem;
  }
}

.footer {
  color: $font-color-white;
  background: url("/img/bg-footer-1.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.footer .container-fluid {
  background-color: $background-dark;
}

.footer__nav,
.footer__contacts {

  display: flex;
  flex-direction: column;
  min-height: 350px;
  border-right: 1px solid $background-white;

  h3 {
    font-size: 1rem;
    letter-spacing: 2px;
    color: $font-color-white;
    border-bottom: 1px solid $background-white;
  }

  @media(max-width: $sm-screen) {
    align-items: center;
    min-height: 220px;
  }
}

.footer__nav-list {
  list-style: none;
  padding-left: 0;

  @media(max-width: $sm-screen) {
    display: flex;
    flex-direction: row;

    .footer__nav-item {
      display: flex;
      justify-content: center;
      width: 100%;

      a {
        text-align: center;
      }
    }
  }
}

.footer__nav-item {
  display: flex;
  align-items: center;
  width: 40%;
  font-weight: 700;

  a {
    font-size: 0.9rem;
    color: $font-color-white;

    @include link;
  }
}

.footer__social a {
  background-color: $background-white;

  svg {
    path {
      fill: #fff;
    }
  }
}

.footer__contact-list {
  list-style: none;
  padding-left: 0;
  font-size: 0.9rem;
}

.footer__contact-item {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    left: -15px;
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translateY(-50%);

    @media (max-width: $md-screen) {
      width: 30px;
      height: 30px;
    }

    @media (max-width: $lg-screen) {
      width: 35px;
      height: 35px;
    }
  }
}

.footer__contact-item--phone {
  &::after {
    background: url("/img/svg-icons/phone-footer.svg") no-repeat 50% 50%;
    background-size: 50%;
    background-color: $background-white;
  }
}

.footer__contact-item--email {
  &::after {
    background: url("/img/svg-icons/envelop.svg") no-repeat 50% 50%;
    background-size: 50%;
    background-color: $background-white;
  }
}

.footer__contact-button {
  font-size: 0.8rem;
  text-transform: uppercase;
  align-self: center;
}

.footer__copyright {
  p {
    color: $font-color-gray;
    font-size: 0.9rem;
    text-align: center;
  }
}