html {
  font-size: 12px;
}

@media (min-width: 576px) {
  html:root {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  html:root {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  html:root {
    font-size: 16px;
  }
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #231f20;
}

.header {
  font-size: 1rem;
  position: relative;
  min-height: 150px;
  background-color: #f3efef;
}

.header.row {
  background-color: #fff;
}

.header__logo {
  width: 100%;
  text-align: center;
}

.header__logo a {
  text-decoration: none;
}

.header__logo a:hover {
  opacity: 0.7;
}

.header__logo a:active {
  opacity: 0.5;
}

@media (max-width: 576px) {
  .header__logo img {
    height: 45px;
  }
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 576px) {
  .header__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  list-style: none;
  font-size: 0.9rem;
  font-weight: bold;
}

@media (min-width: 576px) {
  .header__contacts {
    margin: 0;
    margin-bottom: 20px;
    text-align: end;
  }
}

@media (min-width: 1200px) {
  .header__contacts {
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .header__contacts {
    margin-bottom: 0;
  }
}

.header__contact--phone span,
.header__contact--address span {
  position: relative;
  display: inline;
  padding-left: 1.4rem;
}

.header__contact--phone span::before,
.header__contact--address span::before {
  position: absolute;
  top: -5px;
  left: -5px;
  content: "";
  width: 25px;
  height: 25px;
}

.header__contact--phone span::before {
  background: url("/img/svg-icons/phone-header.svg") no-repeat 50% 50%;
  background-size: 40%;
}

@media (min-width: 992px) {
  .header__contact--phone span::before {
    background-size: 80%;
  }
}

.header__contact--address span::before {
  background: url("/img/svg-icons/location2.svg") no-repeat 50% 50%;
  background-size: 40%;
}

@media (min-width: 992px) {
  .header__contact--address span::before {
    background-size: 80%;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-color: #fff;
  text-decoration: none;
}

.social-button:hover {
  opacity: 0.7;
}

.social-button:active {
  opacity: 0.5;
}

.social-button:last-of-type {
  margin-right: 0;
}

.social-button svg {
  width: 60%;
}

.social-button svg path {
  fill: #4a4b5c;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__social a {
  background-color: #f3efef;
}

.header__social a svg {
  fill: rgba(255, 255, 255, 0.1);
}

.header__nav {
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 576px) {
  .header__nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

@media (min-width: 576px) {
  .nav__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.nav__link {
  color: #231f20;
}

.nav__link:hover {
  color: #c23737;
  text-decoration: none;
}

.nav__link:active {
  opacity: 0.7;
}

.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
  width: 50px;
  height: 50px;
}

.slider {
  position: relative;
}

.slider__info {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider__info h1 {
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 576px) {
  .slider__info h1 {
    font-size: 1.1rem;
  }
}

@media (min-width: 576px) {
  .slider__info h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .slider__info h1 {
    font-size: 1.8rem;
  }
}

@media (min-width: 992px) {
  .slider__info h1 {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .slider__info h1 {
    font-size: 2.4rem;
  }
}

.slider__info-button {
  min-width: 70px;
  min-height: 20px;
}

@media (min-width: 576px) {
  .slider__info-button {
    min-width: 80px;
    min-height: 30px;
  }
}

@media (min-width: 768px) {
  .slider__info-button {
    min-width: 100px;
    min-height: 35px;
  }
}

@media (min-width: 992px) {
  .slider__info-button {
    min-width: 120px;
    min-height: 40px;
  }
}

@media (min-width: 1200px) {
  .slider__info-button {
    min-width: 150px;
    min-height: 50px;
  }
}

.description {
  font-weight: 600;
  background-color: #f3efef;
}

.description__container .row {
  position: relative;
}

.description__title {
  font-size: 1.3rem;
}

@media (min-width: 1500px) {
  .description__title {
    font-size: 1.6rem;
  }
}

.description__text {
  font-size: 0.7rem;
  color: #858894;
}

@media (min-width: 1200px) {
  .description__text {
    font-size: 0.97rem;
  }
}

.description__list {
  position: absolute;
  right: 0;
  top: -110px;
  font-size: 0.8rem;
}

.description__list .description__title {
  position: relative;
  padding: 1.6rem;
  border-top-left-radius: 30px;
  border-bottom: 2px solid #f3efef;
  background-color: #fff;
}

.description__list .description__title::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 88px;
  height: 100%;
  background: url("/img/svg-icons/arrow-down2.svg") no-repeat 50% 50%;
  background-size: 30%;
  background-color: #f3efef;
}

.description__list .description__title p {
  font-size: 1.2rem;
}

@media (min-width: 1200px) {
  .description__list .description__title p {
    font-size: 1.4rem;
  }
}

.description__list ul {
  list-style: none;
  padding-left: 0;
  background-color: #fff;
}

.description__items {
  text-transform: uppercase;
  border-bottom: 2px solid #f3efef;
}

.description__items:first-of-type a.description__link::before {
  background-color: #c23737;
}

a.description__link {
  position: relative;
  display: block;
  margin-left: 60px;
  padding: 2rem;
  color: #231f20;
  text-decoration: none;
}

a.description__link:hover {
  opacity: 0.7;
}

a.description__link:active {
  opacity: 0.5;
}

a.description__link::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f3efef;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.description__video-container {
  position: relative;
}

.description__video-container::after {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url("/img/svg-icons/play-button.svg") no-repeat 60% 50%;
  background-size: 60%;
  background-color: rgba(255, 255, 255, 0.5);
}

.description__video-container:hover::after {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.description__video-container:active::after {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.7;
}

.description__video[poster] {
  background: url("/img/impulse120-video.jpg");
  background-size: cover;
}

@media (min-width: 1200px) {
  .description__video {
    width: 416px;
    height: 385px;
  }
}

.gallery__img {
  width: 100%;
  height: 100%;
}

.gallery__title {
  text-align: center;
}

.red-button {
  font-size: 0.73rem;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.8);
  background-color: #c23737;
  border: none;
  text-decoration: none;
}

.red-button:hover {
  opacity: 0.7;
}

.red-button:active {
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .red-button {
    font-size: 0.6rem;
  }
}

.footer {
  color: rgba(255, 255, 255, 0.8);
  background: url("/img/bg-footer-1.jpg") no-repeat 50% 50%;
}

.footer .container-fluid {
  background-color: #4a4b5c;
}

.footer__nav,
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 350px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__nav h3,
.footer__contacts h3 {
  font-size: 1rem;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__nav-list {
  list-style: none;
  padding-left: 0;
}

.footer__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  font-weight: 700;
}

.footer__nav-item a {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.footer__nav-item a:hover {
  opacity: 0.7;
}

.footer__nav-item a:active {
  opacity: 0.5;
}

.footer__social a {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__social a svg path {
  fill: #fff;
}

.footer__contact-list {
  list-style: none;
  padding-left: 0;
  font-size: 1.15rem;
}

.footer__contact-item {
  position: relative;
}

.footer__contact-item::after {
  position: absolute;
  top: 50%;
  left: -15px;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer__contact-item--phone::after {
  background: url("/img/svg-icons/phone-footer.svg") no-repeat 50% 50%;
  background-size: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__contact-item--email::after {
  background: url("/img/svg-icons/envelop.svg") no-repeat 50% 50%;
  background-size: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__contact-button {
  font-size: 0.8rem;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__copyright p {
  color: #858894;
  font-size: 0.9rem;
}
/*# sourceMappingURL=main.css.map */